{% extends "base.html.twig" %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block body %}
    <h1>{{ movie.title }} ({{ movie.releaseDate|date('Y') }})</h1>
    <small>
    {% for genre in movie.genres %}
        {{ genre.name }}
    {% endfor %}
    </small>

    <ul>
        <h2>Casting</h2>
        <strong>Acteur : role</strong>
        {% for casting in movie.castings|sort((a, b) => a.creditOrder <=> b.creditOrder) %}
        <li>{{ casting.person.firstname }} {{ casting.person.lastname }} : {{ casting.role }}</li>
            
        {% endfor %}
    </ul>

    <h2>Reviews</h2>
    <p>
    {% for review in movie.reviews %}
        {{ review.content }}
    {% endfor %}
    </p>

{% endblock %}