{% extends "base.html.twig" %}

{% block title %}
    
{% endblock %}

{% block body %}
    {% dump(movie) %}
    <h1>{{ movie.title }} ({{ movie.releaseDate|date('Y') }})</h1>
    <small>
    {% for genre in movie.genres %}
        {{ genre.name }}
    {% endfor %}
    </small>

    <ul>
        <h2>Casting</h2>
        <strong>Acteur : role</strong>
        {% for casting in movie.castings %}
        <li>{{ casting.person.firstname }} {{ casting.person.lastname }} : {{ casting.role }}</li>
            
        {% endfor %}
    </ul>

    <h2>Reviews</h2>
    <a href="{{ path('movie_addreview', {id: movie.id}) }}">Ajouter une review</a>
    <p>
    {% for review in movie.reviews %}
        <p>{{ review.content }}</p>
    {% endfor %}
    </p>

{% endblock %}